<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Address</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tr>
    <td><%= @cash_machine.title %></td>
    <td><%= @cash_machine.latitude %></td>
    <td><%= @cash_machine.longitude %></td>
    <td><%= @cash_machine.address %></td>
    <td><%= link_to 'Destroy', @cash_machine, method: :delete %></td>
  </tr>
</table>
<hr>
<%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@cash_machine.latitude},#{@cash_machine.longitude}&markers=#{@cash_machine.latitude},#{@cash_machine.longitude}&zoom=14&size=640x400&key=AIzaSyA4BHW3txEdqfxzdTlPwaHsYRSZbfeIcd8",
              class: 'img-fluid img-rounded', alt: "#{@cash_machine.title} on the map"%>
<hr>
