<%= form_for @cash_machine do |f| %>
  <fieldset class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </fieldset>

  <fieldset class="form-group">
    <%= f.label :latitude %>
    <%= f.text_field :latitude, class: "form-control" %>
  </fieldset>

  <fieldset class="form-group">
    <%= f.label :longitude %>
    <%= f.text_field :longitude, class: "form-control" %>
  </fieldset>

  <%= f.submit 'Add!', class: 'btn btn-primary' %>
<% end %>
