<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Distance</th>
    </tr>
  </thead>

  <tbody id="CashMachinesTable">
    <% @cash_machines.each do |cash_machine| %>
      <tr>
        <td><%= link_to cash_machine.title, cash_machine_path(cash_machine) %></td>
        <td><%= cash_machine.latitude %></td>
        <td><%= cash_machine.longitude %></td>
        <td><%= cash_machine.distance_to([params[:cash_machine][:latitude],
                                          params[:cash_machine][:longitude]]).round(2) %>km</td>
      </tr>
    <% end %>
  </tbody>
</table>
