<%= form_for(:cash_machine, url: find_cash_machines_path) do |f| %>

  <fieldset class="form-group">
    <%= f.label :latitude %>
    <%= f.text_field :latitude, class: "form-control" %>
  </fieldset>

  <fieldset class="form-group">
    <%= f.label :longitude %>
    <%= f.text_field :longitude, class: "form-control" %>
  </fieldset>

  <%= f.submit 'Find ATM!', class: 'btn btn-primary' %>
<% end %>
