<header><h1 class="display-4">List of all ATMs</h1></header>

<%= render 'list' %>

<%= link_to 'Add new ATM', new_cash_machine_path, class: 'btn btn-primary btn-lg' %>

<h1 class="display-4">Find 5 nearest ATMs:</h1>

<%= render 'search_form' %>
