<footer>
<nav id="mainNav" class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <div>
      <ul class="nav navbar-nav">
        <li>
          <a class="navbar-brand page-scroll" href="#page-top">Copyright © Dyachenko Vladislav</a>
        </li>
      </ul>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="page-scroll btn-github" href="https://github.com/wowinter13"><span class="fa fa-github"></span>wowinter13</a>
        </li>
        <li>
          <a href="https://vk.com/axscdv">VK</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</footer>
